select
{
  border: 1px solid #222;
  height: 4.6rem;
  width: 100%;
  padding: 1rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  transition: border 0.15s;
}

.submit:hover {
    background: rgba(173, 216, 230, 1);
  }
.submit {
 
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    background: rgba(173, 216, 230, 0.7);
    cursor: pointer;
    transition: background 0.15s;
  }