<div style="position: relative; background-color: #e3f2fd; width: 100%; ">
<div class="container">
<nav class="navbar navbar-light" style="background-color: #e3f2fd; ">
   
    <div class="navbar-header my-2" >
      <a class="navbar-brand mx-4" routerLink="/home" >FirstAngularApp</a>
    </div>
  <div style="align-items: right;" >
    <a class="navbar-brand" routerLink="/home">Home</a>
    <a class="navbar-brand" routerLink="/college">Add College</a>
    <a class="navbar-brand mx+4" routerLink="/student" >Add Student</a>
    <a class="navbar-brand mx+4" routerLink="/view" >View</a>
  </div>
</nav>
</div>
</div>
<router-outlet></router-outlet>